select,
label {
  display: block;
  font-family: inter;
}

select {
  margin-top: 2px;
  border: 0.5px solid #9a9a9a;
  border-radius: 10px;
  width: 506px;
  height: 56px;
  background-color: #ffffff;
}

label {
  margin-top: 15px;
  font-weight: 600px;
}

@media (max-width: 600px) {
  select {
    width: 356px;
  }
}
